.h-card {
  box-sizing: border-box;
  &--outer {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--pebble-lightest);
    &-inner {
      padding: 12px;
    }
  }
  &--inner {
    padding: 12px;
    &:not(:last-child) {
      border-bottom: 1px solid var(--pebble-lightest);
    }
  }
  &--rounded {
    border-radius: 4px;
  }
}
